/* Support Portal Styles
*
*/

.question {
  padding: 0.75rem 0;
}
.section-nav {
  padding-top: 0 !important;
}
.sidebar{
  top: 0 !important;
}
.toc-entry a:hover {
  color: #59316B !important;
}
.footer a.nav-link {
  padding: 0.2rem;
}
footer .border{
  border: 0 !important;
  border-bottom: 1px solid rgba(255,255,255,0.3) !important;
}

.sidetopics {
  position: fixed !important;
  margin-top: 400px;
  height: 500px;
  background: transparent;
}

#topics {
  min-height: 500px;
  margin-bottom: 200px;
}

.footer {
  position: relative;
  z-index:99999999999;
}