/* Support Portal Styles
*
*/

.question {
  padding: 0.5rem 0;
}
.section-nav {
  padding-top: 0 !important;
}
.sidebar{
  top: 0 !important;
}
.toc-entry a:hover {
  color: #59316B !important;
}
.footer a.nav-link {
  padding: 0.2rem;
}
