{% macro gettor_email() %}
<div class="p-3">
  <span class="h5">Email gettor</span>
  <hr>
  <label>
    {{ _('Select your operating system:') }}
    <select class="custom-select os-select">
      <option value="windows">{{ _('Windows') }}</option>
      <option value="macos">{{ _('MacOS') }}</option>
      <option value="linux">{{ _('Linux') }}</option>
    </select>
  </label>
  <br>
  <a href="mailto:gettor@torproject.org?body=windows" class="mailto btn btn-primary w-100"><span class="fa fa-envelope pr-1"></span>{{ _('Click here to email gettor') }}<span class="fa fa-external-link"></span></a>
  <br>
  <button class="gettor-copy-button btn btn-primary mt-1 w-100"><span class="fa fa-copy pr-1"></span>{{ _('Copy mailto link to clipboard') }}</button>
</div>
{% endmacro %}

{% macro gettor_email_script() %}
<script>
  let osName = "windows";
  switch((window.navigator.userAgentData || {platform: ''}).platform.toLowerCase()) {
    case 'windows':
      osName = 'windows';
      break;
    case 'macos':
      osName = 'macos';
      break;
    case 'linux':
      osName = 'linux';
      break;
    default:
      let ua = window.navigator.userAgent.toLowerCase()
      if (ua.includes('windows')) {
        osName = 'windows';
      } else if (ua.includes('linux')) {
        osName = 'linux';
      } else if (ua.includes('mac')) {
        osName = 'macos';
      }
    }

  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.gettor-email').forEach(div => {
      div.style.display = 'inline-block';
      let template = document.createElement('template');
      template.innerHTML = `{{ gettor_email() }}`.trim();
      div.append(...template.content.children);
    });
    document.querySelectorAll('.gettor-email .os-select').forEach(select => {
        select.addEventListener('change', (event) => {
          let mailto = event.target.closest('.gettor-email').getElementsByClassName('mailto')[0];
          mailto.href=`mailto:gettor@torproject.org?body=${event.target.value}`;
        });
        select.value = osName;
        let mailto = select.closest('.gettor-email').getElementsByClassName('mailto')[0];
        mailto.href=`mailto:gettor@torproject.org?body=${osName}`;
      });
    document.querySelectorAll('.gettor-copy-button').forEach(button => {
      button.addEventListener('click', async (e) => {
        let osSelect = event.target.closest('.gettor-email').getElementsByClassName('os-select')[0];
        let text = `mailto:gettor@torproject.org?body=${osSelect.value}`;
        try {
          await navigator.clipboard.writeText(text);
        } catch (error) {
          console.log(error);
        }
      });
    });
  });
</script>
{% endmacro %}
