{% macro render_term(item, alternative) %}
<div class="item">
  <h3 class="text-primary">
    <a href="{{ t.path }}" role="button"></a>
  </h3>
  <div class="anchor-spacer">
    <div>
      <h5 class="text-muted mb-3 p-0 {{ bag('alternatives', alternative, 'direction') }}">{{ item.title }}</h5>

      <div class="question {{ bag('alternatives', alternative, 'direction') }}">
        <h4 class="text-primary">
            {{ item.title }}
        </h4>
        <div class="canchor-spacer">
          {{ item.definition|safe }}

          <div class="card mt-5">
            <ul class="list-group list-group-flush">
               <!--li class="list-group-item"><a><span class="card-text text-muted">{{ _("Contributors to this page:") }} <a href="#" title="#">cypherpunk</a></span></li-->
               <li class="list-group-item">
                 <a href="https://github.com/torproject/support/edit/master/content{{ item.path }}/contents.lr">{{ _("Edit this page") }}</a> -
                 <a href="https://support.torproject.org/misc/bug-or-feedback/">{{ _("Suggest Feedback") }}</a> -
                 <a href="{{ item|url }}">{{ _("Permalink") }}</a>
                </li>
             </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endmacro %}
