<div class="item">
  <h3 class="text-primary">
    <a data-toggle="collapse" data-parent="#topics" href="#censorship" role="button" aria-expanded="true" aria-controls="censorship">
      Censorship
    </a>
  </h3>
  <div id="censorship" class="collapse show" role="tabpanel">
    <div class="question">
      <h4 class="text-primary">
        <a data-toggle="collapse" data-parent="#censorshipAccordion" href="#question60" role="button" aria-expanded="true" aria-controls="question60">
          Our website is blocked by a censor. Can Tor Browser help users access our website?
        </a>
      </h4>
      <div id="question60" class="collapse show" role="tabpanel">
        <p class="mb-3">
	  Duplicate answer
	</p>
      </div>
    </div>
    <div class="question">
      <h4 class="text-primary">
        <a data-toggle="collapse" data-parent="#censorshipAccordion" href="#question61" role="button" aria-expanded="true" aria-controls="question61">
          My favorite website is blocking access over Tor.
        </a>
      </h4>
      <div id="question61" class="collapse show" role="tabpanel">
        <p class="mb-3">
	  Duplicate answer
	</p>
      </div>
    </div>
    <div class="question">
      <h4 class="text-primary">
        <a data-toggle="collapse" data-parent="#censorshipAccordion" href="#question62" role="button" aria-expanded="true" aria-controls="question62">
          How do I download Tor if the torproject.org is blocked? 
        </a>
      </h4>
      <div id="question62" class="collapse show" role="tabpanel">
        <p class="mb-3">
	  Duplicate answer
	</p>
      </div>
    </div>
    <div class="question">
      <h4 class="text-primary">
        <a data-toggle="collapse" data-parent="#censorshipAccordion" href="#question63" role="button" aria-expanded="true" aria-controls="question63">
	  What is a bridge?
	</a>
      </h4>
      <div id="question63" class="collapse show" role="tabpanel">
        <p class="mb-3">
	  Duplicate answer
	</p>
      </div>
    </div>
  </div>
</div>
