<div class="item">
  <h3 class="text-primary">
    <a data-toggle="collapse" href="#connecting-to-tor" data-target="#connecting-to-tor" role="button" aria-expanded="true" aria-controls="connecting-to-tor"></a>
  </h3>
  <div id="connecting-to-tor" class="collapse show" role="tabpanel" data-parent="#topics">
    <div id="connecting-to-torAccordion" data-children=".question">
      <h2 class="text-muted text-uppercase">Connecting to Tor</h2>
      {% set connbag = 'connecting+' + this.alt %}
      {% for id, item in bag(connbag).items() %}
        <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" href="{{ item.id }}" data-target="{{ item.id }}" role="button" aria-expanded="true" aria-controls="{{ item.control }}">
	    {{ item.title }}
          </a>
	</h4>
        <div id="{{ item.control }}" class="collapse show" role="tabpanel" data-parent="#connecting-to-torAccordion">
          {{ item.description|safe }}
        </div>
      </div>
      
    {% endfor %}
    </div>
  </div>
</div>
