<div class="container-fluid bg-dark footer">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="col-sm-6 offset-lx-1 offset-sm-0 mt-5">
	        <p class="mb-5 mt-5 text-white"><span class="font-weight-bold">Our mission:</span> to advance human rights and freedoms by creating and deploying free and open source anonymity and privacy technologies, supporting their unrestricted availability and use, and furthering their scientific and popular understanding.
      </div>
      <div class="col-sm-2 mt-5 d-none d-sm-block">
        <ul class="nav flex-column mt-sm-5">
          {% set menubag = 'menu+' + this.alt %}
          {% for id, item in bag(menubag).items() %}
          <li{% if this.is_child_of(item.path) %} class="nav-item active" {% else %} class="nav-item"{% endif %}>
            <a class="nav-link text-light" href="{{ item.path|url }}">{{ item.label }}
              {% if this.is_child_of(item.path) %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="col-md-8 mt-5 pb-5 border">
        <p class="text-primary-light text-uppercase">Subscribe to our Newsletter</p>
        <p class="text-light">Get monthly updates and opportunities from the Tor Project:</p>
        <p class="w"><a class="btn btn-small btn-dark mt-2 text-white text-uppercase font-weight-bold active" role="button" aria-pressed="true" href="https://newsletter.torproject.org/">Sign up</a></p>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center">
      <div class="col-sm-6 offset-lx-1 offset-sm-0 mt-5">
	<p class="text-primary-light">Trademark, copyright notices, and rules for use by third parties can be found in our <a href="#" class="text-primary-light"><u>FAQ</u></a>.</p>
      </div>
      <div class="col-sm-2 mt-5 d-none d-sm-block">
        <div class="btn-group dropdown float-right">
      	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      	    English
      	  </button>
      	  <div class="dropdown-menu">
      	    <a class="dropdown-item" href="#">Action</a>
      	    <a class="dropdown-item" href="#">Another action</a>
      	    <a class="dropdown-item" href="#">Something else here</a>
      	    <div class="dropdown-divider"></div>
      	    <a class="dropdown-item" href="#">Separated link</a>
      	  </div>
      	</div>
      </div>
    </div>

    <script src="{{ '/static/js/jquery-3.2.1.min.js'|asseturl }}" ></script>
    <script src="{{ '/static/js/popper.min.js'|asseturl }}" ></script>
    <script src="{{ '/static/js/bootstrap.bundle.min.js'|asseturl }}" ></script>
    <script src="{{ '/static/js/scrollspy.min.js'|asseturl }}" ></script>
    <script src="{{ '/static/js/collapse.min.js'|asseturl }}" ></script>
    <script type="text/javascript">

      $('.side-nav').click(function(){
        if ($('.side-nav.active').length > 0) {
          $('.side-nav.active').removeClass('active')
        }
        $(this).addClass('active');
      });

      $('.show').collapse();

      $(function() {

        $(window).scroll(function(){

          var pTop = $(window).scrollTop()
          if( pTop > 250 ){
     	    snap(70);
          }
          else { snap(320); }
	});
      });

      function snap(pix){
        $('.sidetopics').css('margin-top', pix + 'px')
      }


    </script>
  </div>
