<div class="col-8 offset-2">
  <p class="mt-5 mb-5">&copy; Copyright 2017 by <a href="https://torproject.org" title="The Tor Project, INC." target="_blank">The Tor Project.</a> <span class="text-muted">The Tor Project is a US 501(c)(3) non-profit organization advancing human rights and freedoms by creating and deploying free and open source anonymity and privacy technologies, supporting their unrestricted availability and use, and furthering their scientific and popular understanding.</span>
  </p>
</div>

<script src="{{ '/static/js/jquery-3.2.1.min.js'|asseturl }}" ></script>
<script src="{{ '/static/js/popper.min.js'|asseturl }}" ></script>
<script src="{{ '/static/js/bootstrap.bundle.min.js'|asseturl }}" ></script>
<script src="{{ '/static/js/scrollspy.min.js'|asseturl }}" ></script>
<script src="{{ '/static/js/collapse.min.js'|asseturl }}" ></script>
<script type="text/javascript">


  $(document).ready(function(){

    $('.collapse').collapse();

  });
</script>
