&copy; Copyright 2017 by Tor Project.
<script src="{{ '/static/js/jquery-3.2.1.min.js'|asseturl }}" ></script>
<script src="{{ '/static/js/popper.min.js'|asseturl }}" ></script>
<script src="{{ '/static/js/bootstrap.bundle.min.js'|asseturl }}" ></script>
<script src="{{ '/static/js/scrollspy.min.js'|asseturl }}" ></script>
<script src="{{ '/static/js/collapse.min.js'|asseturl }}" ></script>
<script type="text/javascript">


  $(document).ready(function(){

    var hideAll = function() {
      $('.collapse').collapse();
    };
    $.when( hideAll() ).done( function() {
      
      $('#faq').addClass('show');
    } );
  
  });
</script>
