<div class="item">
  <h3 class="text-primary">
    <a data-toggle="collapse" data-parent="#topics" href="#gettor" role="button" aria-expanded="true" aria-controls="gettor">
      GetTor
    </a>
  </h3>
  <div id="gettor" class="collapse show" role="tabpanel">
    <div id="tor-mobileAccordion" data-children=".question">
      <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-parent="#gettorAccordion" href="#question55" role="button" aria-expanded="true" aria-controls="question55">
            How do I download Tor if the torproject.org is blocked?
          </a>
	</h4>
        <div id="question55" class="collapse show" role="tabpanel">
          <p class="mb-3">
	    If you can't download Tor through our ​<a href="https://www.torproject.org">website</a>, you can get a copy of Tor delivered to you via GetTor. GetTor is a service that automatically responds to messages with links to the latest version of Tor Browser, hosted at a variety of locations that are less likely to be censored, such as Dropbox, Google Drive, and Github.
    	  </p>
        </div>
      </div>
      <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-parent="#gettorAccordion" href="#question56" role="button" aria-expanded="true" aria-controls="question56">
            To use GetTor via email
          </a>
	</h4>
        <div id="question56" class="collapse show" role="tabpanel">
          <p class="mb-3">
	    Send an email to gettor@torproject.org. Write your operating system (such as windows, osx, or linux) in the body of the message and send. GetTor will respond with an email containing links from which you can download Tor Browser, the cryptographic signature (needed for verifying the download) [link to glossary definition of cryptographic signature; instructions for verification], the fingerprint of the key used to make the signature, and the package’s checksum. You may be offered a choice of “32-bit” or “64-bit” software: this depends on the model of the computer you are using; consult documentation about your computer to find out more.
	  </p>
        </div>
      </div>
      <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-parent="#gettorAccordion" href="#question57" role="button" aria-expanded="true" aria-controls="question57">
            To use GetTor via Twitter.
          </a>
	</h4>
        <div id="question57" class="collapse show" role="tabpanel">
          <p class="mb-3">
	    To get links for downloading Tor Browser, send a direct message to ​<a href="https://twitter.com/get_tor">@get_tor</a> with one of the following codes in it (you don't need to follow the account):
	  </p>
	  <p class="mb-3">
	    <ul>
	      <li>Linux</li>
	      <li>OSX</li>
	      <li>Windows</li>
	    </ul>
	  </p>
        </div>
      </div>
      <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-parent="#gettorAccordion" href="#question58" role="button" aria-expanded="true" aria-controls="question58">
            To use GetTor via XMPP (Tor Messenger, Jitsi, CoyIM).
          </a>
	</h4>
        <div id="question58" class="collapse show" role="tabpanel">
          <p class="mb-3">
	    To get links for downloading Tor Browser, send a message to gettor@toproject(dot)org with one of the following codes in it:
	  </p>
	  <p class="mb-3">
	    <ul>
	      <li>Linux</li>
	      <li>OSX</li>
	      <li>Windows</li>
	    </ul>
	  </p>
        </div>
      </div>
    </div>
  </div>
</div>
