{% extends "layout.html" %}
{% block body %}
    <div class="page">
      <div class="jumbotron jumbotron-fluid bg-primary text-white mb-md-5">
        <div class="container-fluid text-center">
          <h1 class="display-4 no-border font-weight-light pt-5 pb-4">How can we help?</h1>
          <div class="row">
            <form class="form-inline form-wide justify-content-md-center" action="https://duckduckgo.com/" method="get">
              <div class="col-md-4 col-sm-12">
                <div class="col-12 input-group p-0">
		              <input name="sites" value="https://www.torproject.org" type="hidden">
                  <input class="form-control form-wide rounded-left border-0" type="text" name="q" placeholder="Using DuckDuckGo…" aria-label="Search">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="submit">Search</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row flex-xl-nowrap">
          {% include 'sidenav.html' %}
          <main role="main" class="col-sm-12 col-xs-12  ml-sm-auto col-md-9 col-lg-9">

	    {% include 'topics.html' %}

            {{ this.body }}
          </main>
        </div>
      </div>
    </div>
{% endblock %}
