{% extends "layout.html" %}
{% block body %}
    <div class="page">
      <div class="jumbotron jumbotron-fluid bg-primary text-white">
        <div class="container-fluid text-center">
          <h1 class="display-3 no-border font-weight-light">How can we help?</h1>
          <div class="row">
            <form class="form-inline form-wide justify-content-md-center">
              <div class="col-4">
                <div class="offset-md-1 col-10 input-group input-group-lg">
                  <input class="form-control form-wide" type="search" placeholder="Enter keywords or questions here" aria-label="Search">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Search</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <nav class="col-sm-3 col-md-2 d-none d-sm-block section-nav bg-white sidebar">
            <ul class="nav nav-pills flex-column">
              {% for id, item in bag('menu').items() %}
                <li{% if this.is_child_of(item.path) %} class="toc-entry toc-h2 active" {% else %} class="toc-entry toc-h2"{% endif %}>
                  <a class="nav-link" href="{{ item.path|url }}">{{ item.label }}</a>
                </li>
  	            {% set docs = site.get(item.path) %}
                {% for child in docs.children recursive %}
                  <li{% if this._path == child._path %} class="toc-entry toc-h4 active" {% else %} class="toc-entry toc-h4"{% endif
                  %}>{{ get_link(child) }}
                  {% if this.is_child_of(child) %}
                    <ul>{{ loop(child.children) }}</ul>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
          </nav>
          <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            {{ this.body }}
          </main>
        </div>
      </div>
    </div>
{% endblock %}
