<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/static/bootstrap.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/open-iconic/font/css/open-iconic-bootstrap.css'|asseturl }}">

<title>{% block title %}{% endblock %}</title>
<body class="no-gutters" data-spy="scroll" data-target="#sidenav-topics" id="topics" data-children=".item">
  <header>
    {% include 'navbar.html' %}
  </header>
    {% block body %}{% endblock %}
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
