<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/static/bootstrap.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/open-iconic/font/css/open-iconic-bootstrap.css'|asseturl }}">

<title>{% block title %}{{ this.title }}{% endblock %}</title>
<body class="no-gutters" data-spy="scroll" data-target="#sidenav-topics" id="topics" data-children=".item">
  <header>
    {% include 'navbar.html' %}
  </header>
  <div class="page">
    <div class="jumbotron jumbotron-fluid bg-primary text-white mb-md-5">
      <div class="container-fluid text-center">
        <h1 class="display-4 no-border font-weight-light pt-5 pb-4">How can we help?</h1>
        <div class="row">
          <form class="form-inline form-wide justify-content-md-center" id="searchForm" action="https://search.onionlab.eu/support-staging/{{ this.alt }}" method="GET">
            <div class="col-md-4 col-sm-12">
              <div class="col-12 input-group p-0">
                <input id="q" class="form-control form-wide rounded-left border-0" type="text" name="q" placeholder="Search .." aria-label="Search">
                <span class="input-group-btn">
                  <button class="btn btn-light" type="submit"><span class="oi oi-magnifying-glass text-secondary"></span></button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        {% include 'sidenav.html' %}
        <main role="main" class="col-sm-12 col-xs-12  ml-sm-auto col-md-9 col-lg-9 {{ bag('alternatives', this.alt, 'order') }}">
          {% block body %}{% endblock %}
        </main>
      </div>
    </div>
  </div>
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
