<div class="item">
  <h3 class="text-primary">
    <a data-toggle="collapse" href="#tor-messenger" role="button" data-target="#tor-messenger" aria-expanded="true" aria-controls="tor-messenger">
      Tor Messenger
    </a>
  </h3>
  <div id="tor-messenger" class="collapse show" role="tabpanel" data-parent="#topics">
    <div id="tor-messengerAccordion" data-children=".question">
      {% set msgbag = 'tormessenger+' + this.alt %}
      {% for id, item in bag(msgbag).items() %}
        <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-target="{{ item.id }}" href="{{ item.id }}" role="button" aria-expanded="true" aria-controls="{{ item.control }}">
	    {{ item.title }}
          </a>
	</h4>
        <div id="{{ item.control }}" class="collapse show" role="tabpanel" data-parent="#tor-messengerAccordion">
          {{ item.description|safe }}
        </div>
      </div>
      
    {% endfor %}
    </div>
  </div>
</div>
