<div class="item">
  <div id="tor-messenger" class="collapse show" role="tabpanel">
    <div id="tor-messengerAccordion" data-children=".question">
      <h3 class="text-primary">
	<a data-toggle="collapse" data-parent="#topics" href="#tor-messenger" role="button" aria-expanded="true" aria-controls="tor-messenger">
	  Tor Messenger
	</a>
      </h3>
      {% set msgbag = 'tormessenger+' + this.alt %}
      {% for id, item in bag(msgbag).items() %}
        <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-parent="#tor-messengerAccordion" href="{{ item.id }}" role="button" aria-expanded="true" aria-controls="{{ item.control }}">
	    {{ item.title }}
          </a>
	</h4>
        <div id="{{ item.control }}" class="collapse show" role="tabpanel">
          {{ item.description|safe }}
        </div>
      </div>
      
    {% endfor %}
    </div>
  </div>
</div>
