<div class="item">
  <div id="tor-mobile" class="collapse show" role="tabpanel">
    <div id="tor-mobileAccordion" data-children=".question">
      <h3 class="text-primary">
	<a data-toggle="collapse" data-parent="#topics" href="#tor-mobile" role="button" aria-expanded="true" aria-controls="tor-mobile">
	  Tor Mobile
	</a>
      </h3>
      {% set tormobilebag = 'tormobile+' + this.alt %}
      {% for id, item in bag(tormobilebag).items() %}
        <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-parent="#tor-mobileAccordion" href="{{ item.id }}" role="button" aria-expanded="true" aria-controls="{{ item.control }}">
	    {{ item.title }}
          </a>
	</h4>
        <div id="{{ item.control }}" class="collapse show" role="tabpanel">
          {{ item.description|safe }}
        </div>
      </div>
      
    {% endfor %}
    </div>
  </div>
</div>
