<div class="item">
  <h3 class="text-primary">
    <a data-toggle="collapse" data-parent="#topics" href="#tor-mobile" role="button" aria-expanded="true" aria-controls="tor-mobile">
      Tor Mobile
    </a>
  </h3>
  <div id="tor-mobile" class="collapse show" role="tabpanel">
    <div id="tor-mobileAccordion" data-children=".question">
      <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-parent="#tor-mobileAccordion" href="#question51" role="button" aria-expanded="true" aria-controls="question51">
            Can I run Tor on an Android device?
          </a>
	</h4>
        <div id="question51" class="collapse show" role="tabpanel">
          <p class="mb-3">
	    Tor on Android is provided by The Guardian Project. More information can be found on the ​<a href="https://guardianproject.info/apps/orbot/">Orbot</a> and <a href="https://guardianproject.info/apps/orfox/">​Orfox</a> web pages. Orbot is for web browsing, and Orfox can route other apps on your Android phone over the Tor network. 
    	  </p>
        </div>
      </div>
      <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-parent="#tor-mobileAccordion" href="#question52" role="button" aria-expanded="true" aria-controls="question52">
            Who is the Guardian Project?
          </a>
	</h4>
        <div id="question52" class="collapse show" role="tabpanel">
          <p class="mb-3">
	    The Guardian Project maintains Tor (and other privacy applications) on Android. More info can be found on the ​<a href="https://guardianproject.info/">Guardian Project's website</a>.
	  </p>
        </div>
      </div>
      <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-parent="#tor-mobileAccordion" href="#question53" role="button" aria-expanded="true" aria-controls="question53">
            Can I run Tor on an iOS device?
          </a>
	</h4>
        <div id="question53" class="collapse show" role="tabpanel">
          <p class="mb-3">
	    We recommend an iOS app called Onion Browser, which is open source, uses Tor routing, and is developed by someone who works closely with the Tor Project. However, Apple requires browsers on iOS to use something called Webkit, which prevents Onion Browser from having the same privacy protections as Tor Browser. <a href="https://blog.torproject.org/tor-heart-onion-browser-and-more-ios-tor">Learn more about Onion Browser</a>.
	  </p>
        </div>
      </div>
      <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-parent="#tor-mobileAccordion" href="#question54" role="button" aria-expanded="true" aria-controls="question54">
            How do I run Tor on Windows Phone?
          </a>
	</h4>
        <div id="question54" class="collapse show" role="tabpanel">
          <p class="mb-3">
	    There is currently no supported method for running Tor on Windows Phone.
	  </p>
        </div>
      </div>
    </div>
  </div>
</div>
