<div class="item">
  <h3 class="text-primary">
    <a data-toggle="collapse" href="#tor-mobile" data-target="#tor-mobile" role="button" aria-expanded="true" aria-controls="tor-mobile">
      Tor Mobile
    </a>
  </h3>
  <div id="tor-mobile" class="collapse show" role="tabpanel" data-parent="#topics">
    <div id="tor-mobileAccordion" data-children=".question">
      {% set tormobilebag = 'tormobile+' + this.alt %}
      {% for id, item in bag(tormobilebag).items() %}
        <div class="question">
	<h4 class="text-primary">
          <a data-toggle="collapse" data-target="{{ item.id }}" href="{{ item.id }}" role="button" aria-expanded="true" aria-controls="{{ item.control }}">
	    {{ item.title }}
          </a>
	</h4>
        <div id="{{ item.control }}" class="collapse show" role="tabpanel" data-parent="#tor-mobileAccordion">
          {{ item.description|safe }}
        </div>
      </div>
      
    {% endfor %}
    </div>
  </div>
</div>
